<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="play-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Play
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="play-link">
                <a href="{% url 'products' %}?category=sfw-game" class="dropdown-item">SFW Games</a>
                <a href="{% url 'products' %}?category=nsfw-game" class="dropdown-item">NSFW Games</a>
                <a href="{% url 'products' %}?category=sfw-game,nsfw-game" class="dropdown-item">All Games</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="organise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="organise-link">
                <a href="{% url 'products' %}?category=wall-planner" class="dropdown-item">Wall Planners</a>
                <a href="{% url 'products' %}?category=couple-game" class="dropdown-item">For Couples</a>
                <a href="{% url 'products' %}?category=life-planners" class="dropdown-item">Lifestyle Planners</a>
                <a href="{% url 'products' %}?category=life-planners,couple-game,wall-planner" class="dropdown-item">All Planners</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DAPO Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="" class="dropdown-item">Coming Soon</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>